@import "/home/guz/.config/eww/vars.scss";

* {
	background-color: transparent;
	all: unset;
}

tooltip {
	@include box-style();

	background-color: $foreground;
	color: $color-accent;
	font-weight: bold;
}

.wrapper {
	padding: 5px 10px;
}

.bar {
	@include box-style();

	color: $color-accent;
	font-family: 'Fira Code Nerd Font', 'Fira Code';
	font-weight: bold;

	background-color: $background;
	padding: 5px 10px;

	.rightstuff {
		// background-color: blue;
	}

	.middlestuff {
		// background-color: green;
		font-size: small;
	}

	.leftstuff {
		// background-color: red;
	}
}

.temperature, .rain, .season {
	margin: 0 4px;
}

.metric {
	.label {
		font-size: small;
		margin: 0;
		padding: 0;
		color: $color-accent;
		margin-right: 5px;
	}
	margin-right: 5px;

	scale trough {
		all: unset;
		background: $foreground;
		border-radius: 50px;
		min-height: 5px;
		min-width: 50px;

		highlight {
			all: unset;
			background-color: $color-accent;
			border-radius: 10px;
		}
	}
}
